<h1>Choices#new</h1>
<p>Find me in app/views/choices/new.html.erb</p>

<!-- ************************************************** -->
<%= @event.name %><br>
<%= @event.normal_description %><br>
<%= @event.address %><br>
<%= @event.event_type %><br>
wild: <%= @event.wild %><br>
<%= @event.explained_description %><br>
<%= @event.tips %><br>
<% @event.pending %><br>
<%= @event.city %><br>

<%= simple_form_for @choice do |f| %>
  <%= f.input :accepted, as: :radio_buttons, label: false  %>
  <%= f.button :submit %>
<% end %>
