<div class="event-proposition">
  <div style="background-image: url(<%= "#{@choice.event.photos.first}" %>) !important;
    background-size: cover;
    background-position: center;
    height: 40vh;" class="event-banner"></div>
  <div class="event-card">

    <% raw(ap @choice) %>
    <% raw(ap @choice.event) %>
    <% raw(ap current_user.criteria) %>

    <!-- <img class="img-event" src="https://via.placeholder.com/350x150"> -->
    <div class="description">
      <center><p class="choice-count">Your choices : <%= current_user.choices.where(accepted: true).count %> / 3</p>
      <h3 class="title-event"><%= @choice.event.name %></h3>
      <p class="title-tips"><%= @choice.event.tips %></p></center>
    </div>


    <!-- ************************************************** -->
    <div class="btn-bar">
      <span data-href="<%= decline_choice_path(@choice) %>" class='btn btn-tinder-red'>
        <i class='fas fa-times'></i>
      </span>
      <span data-href="<%= accept_choice_path(@choice) %>" class='btn btn-tinder-green'>
        <i class='fas fa-heart'></i>
      </span>
    </div>
  </div>
</div>
