<h1>Choices#new</h1>
<p>Find me in app/views/choices/new.html.erb</p>


<%= raw(ap @choice) %>
<%= raw(ap @choice.event) %>
<%= raw(ap current_user.criteria) %>


<hr>
<hr>
<hr>
<hr>

<!-- ************************************************** -->


<%= link_to "accept", accept_choice_path(@choice), method: :patch, class: 'btn btn-primary'  %>

<%= link_to "decline", decline_choice_path(@choice), method: :patch, class: 'btn btn-danger'  %>
