<div class="container">
  <div class="row justify-center">

    <div class="form-criteria">
      <%= simple_form_for @criteria, url: criterias_path, method: :patch, class: 'edit_criteria' do |f| %>

      <!-- <div class="col-xs-12"> -->
      <%= f.input :dance, as: :radio_buttons, label: 'dance' %>
      <!-- </div> -->
      <!-- <div class="col-xs-12"> -->
      <%= f.input :drink, as: :radio_buttons, label: 'drink' %>
      <!-- </div> -->
      <!-- <div class="col-xs-12"> -->
      <%= f.input :culture, as: :radio_buttons, label: 'culture' %>
      <!-- </div> -->
    </div>



<p>How <strong>WILD</strong> are you ?</p>

    <input name="criteria[wild]" type="range" min="0" max="10">

    <%= f.button :submit, class: 'btn btn-7'%>
    <% end %>
  </div>
</div>

