<div id='map' style='width: 100%; height: 60vh; z-index: 0;' data-markers="<%= @events.to_json %>">

</div>
<% @events.each do |event| %>
  <div class="event">
    <div class="event-image">
      <img class="img-event" src="<%= cl_image_path(event.photos.first) %>" alt="party">
    </div>
    <div class="event-informations">
      <h3 class="name-event"><%= event.name %></h3>
      <div class="event-tips"><%= event.tips %></div>
    </div>
    <%= link_to '', event, class: "event-link" %>
  </div>
<% end %>

