<div class="home">
  <div class="page-background">
    <h1>
      The
      <span id="banner-typed-text">The </span>
      <br> way of exploring a city</br>
    </h1>

    <div class="link">
      <a href="<%= edit_criterias_path %>" class="btn-wildcity btn-wildcity-secondary" >Start</a>
      <a href="#bazinga" class="ca3-scroll-down-link ca3-scroll-down-arrow"></a>
    </div>
  </div>
</div>

<div id="bazinga" class="homepage2">
  <div class="cards-container">
    <div class="cards" id="card1">
      <%= image_tag "home-location.svg", height: 120 %>
      <p>Locate yourself</p>
    </div>

    <div class="cards" id="card2">
      <%= image_tag "home-select.svg", height: 120 %>
      <p>Choose what you want to do</p>
    </div>

    <div class="cards" id="card3">
      <%= image_tag "home-wild.svg", height: 120 %>
      <p>Let's go, be WILD !</p>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
